* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/1.3 Arial,sans-serif;
    background: #e5d7d7 url("../Images/background.jpg") no-repeat center fixed;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
}
